.button {
    padding: 20px;
    border-radius: 6px;

    font-size: 18px;
    background-color: var(--accent);
    color: var(--text-color);
    transition: background-color 0.3s ease-in;


    &:hover {
        background-color: var(--accent-hover);
    }

    &--round {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 112px;
        height: 112px;

        img {
            display: block;
        }
    }
}